@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 196 100% 100%;
    --foreground: 196 5% 10%;
    --card: 196 50% 100%;
    --card-foreground: 196 5% 15%;
    --popover: 196 100% 100%;
    --popover-foreground: 196 100% 10%;
    --primary: 196 100% 32.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 196 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 158 30% 95%;
    --muted-foreground: 196 5% 40%;
    --accent: 158 30% 90%;
    --accent-foreground: 196 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 196 5% 100%;
    --border: 196 30% 82%;
    --input: 196 30% 50%;
    --ring: 196 100% 32.7%;
    --radius: 1rem;
    --chart-1: 195 72% 40%;
    --chart-2: 195 58% 55%;
    --chart-3: 195 64% 70%;
    --chart-4: 200 70% 45%;
    --chart-5: 190 75% 50%;
    --sidebar-background: hsl(196, 100%, 98%);
    --sidebar-foreground: hsl(196, 5%, 26%);
    --sidebar-primary: hsl(196, 100%, 32.7%);
    --sidebar-primary-foreground: hsl(196, 100%, 100%);
    --sidebar-accent: hsl(196, 30%, 96%);
    --sidebar-accent-foreground: hsl(196, 100%, 32.7%);
    --sidebar-border: hsl(196, 30%, 91%);
    --sidebar-ring: hsl(196, 100%, 32.7%);
  }
  .dark {
    --background: 196 50% 10%;
    --foreground: 196 5% 100%;
    --card: 196 50% 10%;
    --card-foreground: 196 5% 100%;
    --popover: 196 50% 5%;
    --popover-foreground: 196 5% 100%;
    --primary: 196 100% 32.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 196 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 158 30% 25%;
    --muted-foreground: 196 5% 65%;
    --accent: 158 30% 25%;
    --accent-foreground: 196 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 196 5% 100%;
    --border: 196 30% 50%;
    --input: 196 30% 50%;
    --ring: 196 100% 32.7%;
    --radius: 1rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
     --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
